@import "tailwindcss";


html {
  scroll-behavior: smooth;
}



@font-face {
  font-family: 'cairo';
  src: url('/font/Cairo-VariableFont_slnt,wght.ttf');
}



body {
  font-family: 'cairo', sans-serif;
  background:  rgb(17, 17, 24);
}

